openapi: 3.0.3
info:
  title: Revert Unified Accounting CRM Companies API
  description: Revert is an open-source unified API platform that makes it easy to build integrations with third-party services including CRMs (Salesforce, HubSpot, Zoho CRM, Pipedrive, Close CRM), ticketing systems (Jira, Asana), accounting (Xero, QuickBooks), chat (Slack, Microsoft Teams, Discord), and more — all through a single standardized API.
  version: 1.0.0
  contact:
    url: https://www.revert.dev/
  license:
    name: AGPL-3.0
    url: https://github.com/revertinc/revert/blob/main/LICENSE.txt
servers:
- url: https://api.revert.dev
  description: Production
- url: https://api-staging.revert.dev
  description: Staging
security:
- ApiTokenAuth: []
tags:
- name: CRM Companies
  description: Unified CRM company/account operations
paths:
  /crm/companies/{id}:
    get:
      operationId: getCrmCompany
      summary: Get CRM Company
      description: Get details of a specific CRM company/account by ID
      tags:
      - CRM Companies
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/TenantId'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/Associations'
      responses:
        '200':
          description: Company details
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ResponseStatus'
                  result:
                    $ref: '#/components/schemas/Company'
        '401':
          description: Unauthorized
    patch:
      operationId: updateCrmCompany
      summary: Update CRM Company
      description: Update an existing CRM company/account
      tags:
      - CRM Companies
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/TenantId'
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company'
      responses:
        '200':
          description: Company updated
        '401':
          description: Unauthorized
  /crm/companies:
    get:
      operationId: getCrmCompanies
      summary: List CRM Companies
      description: Get all CRM companies/accounts with pagination
      tags:
      - CRM Companies
      parameters:
      - $ref: '#/components/parameters/TenantId'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: List of companies
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - type: object
                  properties:
                    results:
                      type: array
                      items:
                        $ref: '#/components/schemas/Company'
        '401':
          description: Unauthorized
    post:
      operationId: createCrmCompany
      summary: Create CRM Company
      description: Create a new CRM company/account
      tags:
      - CRM Companies
      parameters:
      - $ref: '#/components/parameters/TenantId'
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company'
      responses:
        '200':
          description: Company created
        '401':
          description: Unauthorized
components:
  schemas:
    ResponseStatus:
      type: string
      enum:
      - ok
      - error
    PaginatedResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatus'
        next:
          type: string
          description: Cursor for next page
        previous:
          type: string
          description: Cursor for previous page
    Company:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        website:
          type: string
        industry:
          type: string
        numberOfEmployees:
          type: integer
        phone:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        remoteId:
          type: string
        additional:
          type: object
  parameters:
    Cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
      description: Pagination cursor for next/previous page
    Fields:
      name: fields
      in: query
      required: false
      schema:
        type: string
      description: Comma-separated list of fields to include in response
    PageSize:
      name: pageSize
      in: query
      required: false
      schema:
        type: string
      description: Number of results per page
    Associations:
      name: associations
      in: query
      required: false
      schema:
        type: string
      description: Comma-separated list of associated objects to include
    TenantId:
      name: x-revert-t-id
      in: header
      required: true
      schema:
        type: string
      description: The unique customer id used when the customer linked their account
    ApiVersion:
      name: x-api-version
      in: header
      required: false
      schema:
        type: string
      description: Optional Revert API version. Defaults to latest if missing
  securitySchemes:
    ApiTokenAuth:
      type: apiKey
      in: header
      name: x-revert-api-token
      description: Your official API key for accessing Revert APIs
