openapi: 3.0.3
info:
  title: Revert Unified Accounting CRM Properties API
  description: Revert is an open-source unified API platform that makes it easy to build integrations with third-party services including CRMs (Salesforce, HubSpot, Zoho CRM, Pipedrive, Close CRM), ticketing systems (Jira, Asana), accounting (Xero, QuickBooks), chat (Slack, Microsoft Teams, Discord), and more — all through a single standardized API.
  version: 1.0.0
  contact:
    url: https://www.revert.dev/
  license:
    name: AGPL-3.0
    url: https://github.com/revertinc/revert/blob/main/LICENSE.txt
servers:
- url: https://api.revert.dev
  description: Production
- url: https://api-staging.revert.dev
  description: Staging
security:
- ApiTokenAuth: []
tags:
- name: CRM Properties
  description: Unified CRM custom property operations
paths:
  /crm/properties:
    get:
      operationId: getCrmProperties
      summary: List CRM Properties
      description: Get all available CRM custom properties for the connected provider
      tags:
      - CRM Properties
      parameters:
      - $ref: '#/components/parameters/TenantId'
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: List of properties
        '401':
          description: Unauthorized
    post:
      operationId: createCrmProperty
      summary: Create CRM Property
      description: Create a new custom CRM property/field
      tags:
      - CRM Properties
      parameters:
      - $ref: '#/components/parameters/TenantId'
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Property created
        '401':
          description: Unauthorized
components:
  parameters:
    TenantId:
      name: x-revert-t-id
      in: header
      required: true
      schema:
        type: string
      description: The unique customer id used when the customer linked their account
    ApiVersion:
      name: x-api-version
      in: header
      required: false
      schema:
        type: string
      description: Optional Revert API version. Defaults to latest if missing
  securitySchemes:
    ApiTokenAuth:
      type: apiKey
      in: header
      name: x-revert-api-token
      description: Your official API key for accessing Revert APIs
