openapi: 3.0.3
info:
  title: Revert Unified Accounting API
  description: Revert is an open-source unified API platform that makes it easy to build integrations with third-party services including CRMs (Salesforce, HubSpot, Zoho CRM, Pipedrive, Close CRM), ticketing systems (Jira, Asana), accounting (Xero, QuickBooks), chat (Slack, Microsoft Teams, Discord), and more — all through a single standardized API.
  version: 1.0.0
  contact:
    url: https://www.revert.dev/
  license:
    name: AGPL-3.0
    url: https://github.com/revertinc/revert/blob/main/LICENSE.txt
servers:
- url: https://api.revert.dev
  description: Production
- url: https://api-staging.revert.dev
  description: Staging
security:
- ApiTokenAuth: []
tags:
- name: Accounting
  description: Unified accounting operations across Xero and QuickBooks
paths:
  /accounting/accounts:
    get:
      operationId: getAccountingAccounts
      summary: List Accounting Accounts
      description: Get all accounting chart-of-accounts entries
      tags:
      - Accounting
      parameters:
      - $ref: '#/components/parameters/TenantId'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: List of accounts
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - type: object
                  properties:
                    results:
                      type: array
                      items:
                        $ref: '#/components/schemas/AccountingAccount'
        '401':
          description: Unauthorized
  /accounting/expenses:
    get:
      operationId: getAccountingExpenses
      summary: List Accounting Expenses
      description: Get all accounting expense records
      tags:
      - Accounting
      parameters:
      - $ref: '#/components/parameters/TenantId'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: List of expenses
        '401':
          description: Unauthorized
    post:
      operationId: createAccountingExpense
      summary: Create Accounting Expense
      description: Create a new accounting expense record
      tags:
      - Accounting
      parameters:
      - $ref: '#/components/parameters/TenantId'
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Expense created
        '401':
          description: Unauthorized
components:
  schemas:
    ResponseStatus:
      type: string
      enum:
      - ok
      - error
    PaginatedResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatus'
        next:
          type: string
          description: Cursor for next page
        previous:
          type: string
          description: Cursor for previous page
    AccountingAccount:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        balance:
          type: number
        currency:
          type: string
        remoteId:
          type: string
  parameters:
    Cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
      description: Pagination cursor for next/previous page
    PageSize:
      name: pageSize
      in: query
      required: false
      schema:
        type: string
      description: Number of results per page
    TenantId:
      name: x-revert-t-id
      in: header
      required: true
      schema:
        type: string
      description: The unique customer id used when the customer linked their account
    ApiVersion:
      name: x-api-version
      in: header
      required: false
      schema:
        type: string
      description: Optional Revert API version. Defaults to latest if missing
  securitySchemes:
    ApiTokenAuth:
      type: apiKey
      in: header
      name: x-revert-api-token
      description: Your official API key for accessing Revert APIs
